@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Dark-Green: hsl(154, 59%, 40%);
    --Blue: hsl(248, 32%, 49%);
    --Darker-Blue: hsl(248, 32%, 39%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Dark-Blue-transparent: hsl(249, 10%, 26%, 35%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(0,100%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: var(--Red);
}

.container{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url(./images/bg-intro-desktop.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 45%;
    height: 100%;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__title{
    color: var(--White);
    font-size: 2.3rem;
    line-height: 40px;
}

.hero__description{
    color: var(--White);
    font-size: 0.8rem;
    line-height: 20px;
}

.form{
    width: 40%;
    height: 100%;
        display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__button{
    width: 95%;
    height: 45px;
    background-color: var(--Blue);
    border: none;
    border-radius: 7px;
    color: var(--White);
    box-shadow: 0px 6px 0px var(--Dark-Blue-transparent);
    cursor: pointer;
}

.form__button:hover{
    background-color: var(--Darker-Blue);
}

.form__button em{
    font-style: unset;
    font-weight: bold;
}

.form__info{
    width: 95%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 7px 0px var(--Dark-Blue-transparent);
    position: relative;
}

.form__info .input__container{
    width: 80%;
    height: 40px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 4px;
    margin-top: 10px;
    outline: none;
    color: var(--Dark-Blue);
    font-weight: bold;
    font-size: 0.8rem;
    position: relative;
}

.input__container input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
    border-radius: 4px;
}

.icon{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 7px;
}

.input__container input:focus{
    border: 1px solid var(--Grayish-Blue);
    color: var(--Dark-Blue);
    font-weight: bold;
    &::placeholder{
        color: var(--Grayish-Blue);
        font-weight: bold;
    }
}

.form__info .form__submit{
    width: 80%;
    height: 40px;
    border: none;
    background-color: var(--Green);
    color: var(--White);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
}

.form__info .form__submit:hover{
    background-color: var(--Dark-Green);
}

.form__info .input__error{
    border: 1px solid var(--Red);
}

.form__info .input__error::placeholder{
    color: var(--Red);
}

.form__info p{
    width: 80%;
    font-size: 0.6rem;
    text-align: center;
    color: var(--Red);
    text-align: right;
}

.form__info p:last-child{
    text-align: center;
    color: var(--Grayish-Blue);
    margin-top: 10px;
    outline: none;
    border: none;
}

.form__terms{
    margin-top: 10px;
}

.form__terms strong{
    color: var(--Red);
}

.text__hide{
    display: none;
}




@media(max-width: 768px){
    .container{
        flex-direction: column;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 30px;
    }

    .hero{
        width: 90%;
        max-width: 400px;
        padding-top: 20px;
    }

    .hero__title{
        font-size: 1.5rem;
        text-align: center;
    }

    .hero__description{
        font-size: 0.8rem;
        text-align: center;
    }

    .form{
        width: 90%;
        max-width: 400px;
    }

    .form__button{
        width: 100%;
        height: 60px;
    }

    .form__info{
        width: 100%;
        margin-bottom: 30px;
    }
}

